include README.md
include LICENSE
include requirements.txt
graft simple_python_app_qt
recursive-exclude * *.py[co]
include versioneer.py
include simple_python_app_qt/py.typed
include simple_python_app_qt/_version.py
include simple_python_app_qt/resources/*